source ~/.secret-aliases

# other tools
alias cat="bat"
alias cd="z"
alias v="nvim"
alias c="code ."
alias res="restart"
alias lzg="lazygit"
alias lzd="lazydocker"
alias lzs="lazyssh"
alias dps="docker ps  -a --format 'table {{.ID}}\t{{.Image}}\t{{.Status}}\t{{.Names}}'"
alias sw="cd ~/dotfiles && stow . && stow --adopt ."
alias zj="zellij"
alias oc="opencode"

# eza
alias l="eza"
alias ls="eza"
alias lsa="eza --all"
alias ll="eza -alh"
alias tree="eza --tree"
alias e="eza --color=always --long --git --no-filesize --icons=always --no-time --no-user --no-permissions --all --classify --group-directories-first"

# git
alias g="git"
alias gs="git status"
alias gsb="git switch"
alias gsh="git stash"
alias gshm="git stash push -m"
alias gshl="git stash list"
alias gshp="git stash pop"
alias gshd="git stash drop"
alias gshs="git stash show"
alias gpl="git pull"
alias gplo="git pull origin"
alias gplodp="git pull origin develop"
alias gplod="git pull origin dev"
alias gplom="git pull origin master"
alias gplomn="git pull origin main"
alias gph="git push"
alias gphuo="git push -u origin"
alias gaa="git add -A"
alias gcm="git commit -m"
alias gca="git commit --amend"
alias gd="git diff -w | diffnav"
alias ga="git add"
alias gb="git branch"
alias gbvv="git branch -vv"
alias gbd="git branch -D"
alias gbm="git branch -m"
alias gcb="git checkout -b"
alias gc="git checkout"
alias gl="git log"

# npm
alias nr="npm run"
alias nrb="npm run build"
alias nrt="npm run test"
alias nrs="npm run start"
alias nrsd="npm run start:dev"
alias nrf="npm run format"
alias nrl="npm run lint"
alias nrd="npm run dev"
alias nrk="npm run knip"

# yarn
alias y="yarn"
alias yb="yarn build"
alias yt="yarn test"
alias ys="yarn start"
alias yd="yarn dev"
alias yf="yarn format"
alias yfc="yarn format:check"
alias yl="yarn lint"
alias ylc="yarn lint:check"
alias yuil="yarn upgrade-interactive --latest"
alias yad="yarn add -D"
alias ya="yarn add"

