alias lsa="ls -a"
alias zj="zellij"
alias e="eza --color=always --long --git --no-filesize --icons=always --no-time --no-user --no-permissions --all --classify --group-directories-first"

# git
alias gs="git status"
alias gpl="git pull"
alias gph="git push"
alias gaa="git add -A"
alias gcm="git commit -m"
alias gd="git diff -w"
alias ga="git add"

