source ~/.secret-aliases
alias cat="bat"
alias cd="z"
alias vim="nvim"
alias vi="nvim"
alias v="nvim"
alias t="tmux"
alias c="code ."
alias res="restart"

# eza
alias ls="eza"
alias lsa="eza --all"
alias ll="eza -alh"
alias tree="ls --tree"
alias e="eza --color=always --long --git --no-filesize --icons=always --no-time --no-user --no-permissions --all --classify --group-directories-first"

# git
alias g="git"
alias gs="git status"
alias gsh="git stash"
alias gshl="git stash list"
alias gshp="git stash pop"
alias gshd="git stash drop"
alias gshs="git stash show"
alias gpl="git pull"
alias gph="git push"
alias gaa="git add -A"
alias gcm="git commit -m"
alias gd="git diff -w"
alias ga="git add"
alias gb="git branch"
alias gbd="git branch -D"
alias gcb="git checkout -b"
alias gc="git checkout"

# npm
alias nr="npm run"
alias nrb="npm run build"
alias nrt="npm run test"
alias nrs="npm run start"
alias nrsd="npm run start:dev"
alias nrf="npm run format"
alias nrl="npm run lint"
alias nrd="npm run dev"
alias nrk="npm run knip"

